<div class="login-container">
    <div class="container mat-elevation-z8 login-content">
        <h2>Авторизация</h2>
        <form (ngSubmit)="login(loginForm.value)" [formGroup]="loginForm">

            <mat-form-field class="full-width">
                <input [errorStateMatcher]="matcher" formControlName="username" matInput placeholder="Логин"
                       type="username">

                <mat-error>
                    <span *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">
                      Пожалуйста введите логин
                    </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input [errorStateMatcher]="matcher" formControlName="password" matInput placeholder="Пароль"
                       type="password">

                <mat-error>
                  <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
                    Пожалуйста введите пароль
                  </span>
                </mat-error>
            </mat-form-field>

            <mat-progress-bar *ngIf="authFacade.isUpdating$() | async" mode="indeterminate"></mat-progress-bar>

            <div class="button-row">
                <button [disabled]="!loginForm.valid" color="primary" mat-flat-button class="app-button" type="submit">
                    Войти
                </button>
            </div>

            <div class="registration-link">
                <a mat-button [routerLink]="['/auth/registration']">Регистрация</a>
            </div>

        </form>
    </div>
</div>
