<div class="newLicense-dialog">
    <div mat-dialog-title>
        <span>Создание ключа</span>
        <button class="close-button" mat-icon-button mat-dialog-close>
            <mat-icon aria-hidden="true">
                close
            </mat-icon>
        </button>
    </div>
    <mat-dialog-content>
        <mat-form-field class="generate-select">
            <mat-label>Выберите лицензию</mat-label>
            <mat-select [(value)]="selectedLicense">
                <mat-option *ngFor="let license of licenses | keyvalue"
                            [value]="license.key">{{license.value}}</mat-option>
            </mat-select>
        </mat-form-field>

        <div>
            <div [ngSwitch]="selectedLicense">
                <ng-template [ngSwitchCase]="licenses.DUMMY">
                    <app-dummy-key (generate)="generate($event)"></app-dummy-key>
                </ng-template>
            </div>
        </div>
    </mat-dialog-content>
</div>

