<div>
    <mat-card class="card-form">
        <form (ngSubmit)="createKey(newKeyForm.value)" [formGroup]="newKeyForm">
            <div formGroupName="keyMeta">

                <mat-form-field class="full-width">
                    <input formControlName="id" matInput placeholder="Идентификатор" type="text" readonly>
                </mat-form-field>

                <mat-form-field class="full-width" *ngIf="republish">
                    <input formControlName="previousLicense" matInput placeholder="Предыдущий Идентификатор лицензии" type="text" readonly>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input [matDatepicker]="dateOfIssue" formControlName="dateOfIssue"
                           matInput
                           placeholder="Дата выпуска" readonly>
                    <mat-datepicker #dateOfIssue></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input [matDatepicker]="dateOfExpiry" formControlName="dateOfExpiry"
                           matInput [min]="minDate"
                           placeholder="Срок действия">
                    <mat-datepicker-toggle [for]="dateOfExpiry" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #dateOfExpiry></mat-datepicker>

                    <mat-error>
                          <span *ngIf="!newKeyForm.get('keyMeta.dateOfExpiry').valid && newKeyForm.get('keyMeta.dateOfExpiry').touched">
                            Пожалуйста введите срок действия
                          </span>
                    </mat-error>
                </mat-form-field>

                <div formGroupName="properties">
                    <mat-form-field class="full-width">
                        <input [errorStateMatcher]="matcher" formControlName="organizationName" matInput placeholder="Организация" type="text">

                        <mat-error>
                          <span *ngIf="!newKeyForm.get('keyMeta.properties.organizationName').valid && newKeyForm.get('keyMeta.properties.organizationName').touched">
                            Пожалуйста введите имя
                          </span>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <input [errorStateMatcher]="matcher" formControlName="coresCount" matInput min="1"
                               placeholder="Число ядер"
                               type="number">

                        <mat-error>
                          <span *ngIf="!newKeyForm.get('keyMeta.properties.coresCount').valid && newKeyForm.get('keyMeta.properties.coresCount').touched">
                            Пожалуйста введите количество ядер
                          </span>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <input [errorStateMatcher]="matcher" formControlName="usersCount" matInput min="1"
                               placeholder="Число пользователей"
                               type="number">

                        <mat-error>
                          <span *ngIf="!newKeyForm.get('keyMeta.properties.usersCount').valid && newKeyForm.get('keyMeta.properties.usersCount').touched">
                            Пожалуйста введите количество пользователей
                          </span>
                        </mat-error>
                    </mat-form-field>

                    <div class="checkbox-group full-width" formGroupName="moduleFlags">
                        <mat-checkbox class="child" formControlName="platformOk">ПлатформаОк</mat-checkbox>
                        <mat-checkbox class="child" formControlName="EDS">СЭД</mat-checkbox>
                        <mat-checkbox class="child" formControlName="features">Фичи</mat-checkbox>
                        <mat-checkbox class="child" formControlName="archive">Архив (2017)</mat-checkbox>
                    </div>

                    <mat-form-field class="full-width">
                        <input [errorStateMatcher]="matcher" formControlName="keyFileName" matInput
                               placeholder="Название файла ключа"
                               type="text">

                        <mat-error>
                          <span *ngIf="!newKeyForm.get('keyMeta.properties.keyFileName').valid && newKeyForm.get('keyMeta.properties.keyFileName').touched">
                            Пожалуйста введите имя файла ключа
                          </span>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <input [errorStateMatcher]="matcher" formControlName="comment" matInput placeholder="Комментарий"
                               type="text">
                    </mat-form-field>
                </div>
            </div>

            <div formGroupName="files">
                <mat-form-field class="full-width">
                    <ngx-mat-file-input #fileInput formControlName="activationKeyFile"
                                        placeholder="Файл активации"></ngx-mat-file-input>
                    <button (click)="fileInput.clear($event)" *ngIf="!fileInput.empty" mat-icon-button matSuffix>
                        <mat-icon matSuffix>clear</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <button class="generate-button app-button" [disabled]="!newKeyForm.valid" color="primary" mat-flat-button
                    type="submit">
                Создать
            </button>
        </form>
    </mat-card>
</div>
